hr {
  border: 2px solid #1c3a70;
  border-radius: 3px;
}
h2 {
    font: oblique bold 100% cursive;
    font-size: 30px;
    padding: 15px;
    color: rgb(57, 95, 138);
    text-shadow: rgb(225, 247, 186) 2px 2px 3px;
  }